<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Upload File</title>   
    </head>
    <body>
    <!-- List of uploaded documents -->

        <!-- Upload form. Note enctype attribute! -->
        <h1>
            Upload Files
        </h1>
        <!-- creates a url to return to the home page -->
        <a href="{% url 'home:home' %}">
            home
        </a>
        <a href="{% url 'creditcardrep:creditcardsearch' %}">
            search
        </a>
        <form action="{% url 'creditcardrep:creditcard' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.file }}</p>
            <p><input type="submit" value="Upload" /></p>
        <!-- this form constructs a table on the website that displays the data from the file uploaded -->
    </body>
</html> 